<section class="side-nav-content">
    <ul class="nav-list" [ngClass]="{ 'nav-list-open' : sideNavStatus}">
        <li class="nav-list-item">
            <i class="bi bi-house-door-fill"></i>
            <span>Test 1</span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-house-door-fill"></i>
            <span>Test 1</span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-house-door-fill"></i>
            <span>Test 1</span>
        </li>
    </ul>
</section>