<section class="container-fluid">
  <app-header 
  (leftSideNavToggled)="leftSideNavStatus= $event;"
  (rightSideNavToggled)="rightSideNavStatus= $event;"
  ></app-header>
  <main>
    <app-side-nav 
    [leftSideNavStatus]="leftSideNavStatus"
    [ngClass]="{ 'app-side-nav-open': leftSideNavStatus}"></app-side-nav>
    <section class="display-area" [ngClass]="{ 'display-area-shrink': leftSideNavStatus}">
      <p>Main Display Area</p>
    </section>
    <app-right-side-nav
    [rightSideNavStatus]="rightSideNavStatus"
    [ngClass]="{ 'app-side-nav-open': rightSideNavStatus}"></app-right-side-nav>
  </main>
</section>